In [1]:
import numpy as np
import pandas as pd
zoo = {"pig":["a","b","c"],"cat":["d","e","f"], "dog":["wow","egg","gay"]}

In [5]:
zoo.keys()

dict_keys(['pig', 'cat', 'dog'])

In [3]:
a = [4,2,3,1,5,6]

In [5]:
try:
    b=a.index(6)
except ValueError:
    print("Do nothing")
else:
    "Do something with variable b"
    print(b)

5

In [3]:
data = pd.DataFrame(zoo)

In [4]:
a = data.columns.values

In [5]:
a

array(['pig', 'cat', 'dog'], dtype=object)

In [6]:
len(a)

3

In [7]:
data[data.columns[1]]

0    d
1    e
2    f
Name: cat, dtype: object

In [12]:
def xuexi(x):
    a = x.columns.values
    start = ""
    for i in range(len(a)):
        word = x[x.columns[i]].apply(str)
        start = start + word + ","
        i=i+1
    print(start)

In [13]:
xuexi(data)

0    a,d,wow,
1    b,e,egg,
2    c,f,gay,
dtype: object

In [90]:
a

array(['pig', 'cat', 'dog'], dtype=object)

In [95]:
list(map(lambda x: xuexi(x),data))

AttributeError: 'str' object has no attribute 'columns'

In [14]:
print(data["pig"][0] +'-')

a-

In [3]:
zoo = dict(pig= ["a","r"],cat = "d", dog = 0)

In [4]:
data1 = pd.DataFrame(zoo)

In [5]:
data1

  pig cat  dog
0   a   d    0
1   r   d    0

In [6]:
subset = {"pig":data1["pig"],"cat":data1["cat"]}

In [11]:
subset[1]

KeyError: 1

In [2]:
zoo= pd.DataFrame(zoo)

In [14]:
zoo.set_index('pig').T.to_dict("list")

{'a': ['d', 'a'], 'b': ['e', 'e'], 'c': ['f', 0]}

In [25]:
def findElement(a,b):
    if a in b:
        return "yes"
    else:
        return"no"

In [26]:
b= ["A","B","C","D","E"]

In [27]:
findElement(4,b)

'no'

In [28]:
for index,b_item in enumerate(b):
    print ( '老妈看到了 %s '% (b_item))    
    print ('当前第 %d 个' %(index))
pass

老妈看到了 A
当前第 0 个
老妈看到了 B
当前第 1 个
老妈看到了 C
当前第 2 个
老妈看到了 D
当前第 3 个
老妈看到了 E
当前第 4 个

In [33]:
print (item for item in b)

<generator object <genexpr> at 0x0000029E8C8889A8>

In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [59]:
def rand_times(n):
    """Generate n rows of random 24-hour times (seconds past midnight)"""
    rand_seconds = np.random.randint(0, 24*60*60, n)
    return pd.DataFrame(dict(seconds= rand_seconds))

In [60]:
n_rows= 1000
df= rand_times(n_rows)

In [61]:
df = df.sort_values('seconds').reset_index(drop= True)

In [62]:
def makeSin(a):
    return np.sin(2*np.pi*a/24*60*60);

In [63]:
def makeCos(a):
    return np.cos(2*np.pi*a/24*60*60);

In [64]:
df["sin"] = df.seconds.apply(lambda x: makeSin(x))

In [66]:
df["cos"] = df.seconds.apply(lambda x: makeCos(x))

In [67]:
df

     seconds           sin  cos
0        334  4.664724e-11  1.0
1        404 -4.604976e-11  1.0
2        504 -3.851058e-12  1.0
3        733 -1.091966e-10  1.0
4        764 -5.711589e-11  1.0
5        796  8.677285e-11  1.0
6        816 -1.725426e-10  1.0
7        889 -1.062309e-10  1.0
8        987  4.339005e-11  1.0
9       1048 -6.067183e-11  1.0
10      1148 -7.668079e-11  1.0
11      1277  1.250209e-10  1.0
12      1354 -2.351192e-11  1.0
13      1363 -1.285624e-10  1.0
14      1409  1.364854e-10  1.0
15      1468  1.980534e-10  1.0
16      1486 -1.204746e-11  1.0
17      1490 -1.104767e-10  1.0
18      1548  9.211400e-11  1.0
19      1556 -1.047445e-10  1.0
20      1559 -6.215105e-11  1.0
21      1579 -8.863591e-11  1.0
22      1590 -2.429010e-10  1.0
23      1610 -3.655518e-11  1.0
24      1670 -1.160098e-10  1.0
25      1688 -9.327999e-11  1.0
26      1704  2.114950e-10  1.0
27      1730  3.736632e-11  1.0
28      1828 -4.584335e-11  1.0
29      1852 -1.707574e-10  1.0
..       ...           ...  ...
970    83622 -1.878453e-10  1.0
971    83854 -1.055335e-08  1.0
972    84112 -3.710630e-10  1.0
973    84152  1.438612e-09  1.0
974    84233  5.848263e-09  1.0
975    84277  1.081914e-08  1.0
976    84444 -6.212383e-09  1.0
977    84605 -1.308454e-08  1.0
978    84630  6.672957e-09  1.0
979    84638 -1.680697e-08  1.0
980    84976 -3.005325e-09  1.0
981    85028 -6.613211e-09  1.0
982    85075  7.285637e-10  1.0
983    85318 -9.436450e-10  1.0
984    85351 -4.666069e-09  1.0
985    85418 -1.132062e-08  1.0
986    85453  1.438719e-09  1.0
987    85474  3.133857e-09  1.0
988    85476 -1.018670e-08  1.0
989    85497 -8.491567e-09  1.0
990    85585  1.450184e-09  1.0
991    85587  3.030784e-09  1.0
992    85664  1.918040e-08  1.0
993    85719  3.042248e-09  1.0
994    85810  1.535490e-08  1.0
995    85930 -9.018398e-09  1.0
996    85940 -1.115398e-09  1.0
997    86024 -9.236009e-09  1.0
998    86096 -1.193906e-08  1.0
999    86098  4.542704e-09  1.0

[1000 rows x 3 columns]

In [8]:
pd.DataFrame({"A":[1,2],"B":[3,4]})

   A  B
0  1  3
1  2  4

In [20]:
pd.DataFrame(dict(a =rand_times(5)))

       a
0   1649
1   4723
2  74200
3  32422
4  45709

In [1]:
import re


def main():
    username = input('请输入用户名: ')
    qq = input('请输入QQ号: ')
    # match函数的第一个参数是正则表达式字符串或正则表达式对象
    # 第二个参数是要跟正则表达式做匹配的字符串对象
    m1 = re.match(r'^[0-9a-zA-Z_]{6,20}$', username)
    if not m1:
        print('请输入有效的用户名.')
    m2 = re.match(r'^[1-9]\d{4,11}$', qq)
    if not m2:
        print('请输入有效的QQ号.')
    if m1 and m2:
        print('你输入的信息是有效的!')


if __name__ == '__main__':
    main()

请输入用户名: 444
请输入QQ号: 444
请输入有效的用户名.
请输入有效的QQ号.

In [4]:
import re


def main():
    sentence = '你丫是傻叉吗? 我傻逼操你大吊爷的. Fuck you.'
    purified = re.sub('[操肏艹]|fuck|shit|傻[比屄逼叉缺吊屌]|煞笔',
                      '*', sentence, flags=re.IGNORECASE)
    print(purified)  # 你丫是*吗? 我*你大爷的. * you.


if __name__ == '__main__':
    main()

你丫是*吗? 我**你大吊爷的. * you.

In [1]:
(lambda a,b : a+b)(3,4)

7

In [2]:
authors = ['Octavia Butler', 'Isaac Asimov', 'Neal Stephenson', 'Margaret Atwood', 'Usula K Le Guin', 'Ray Bradbury']
sorted(authors, key=len)  # Returns list ordered by length of author name
sorted(authors, key=lambda name: name.split()[-1])  # Returns list ordered alphabetically by last name.

['Isaac Asimov',
 'Margaret Atwood',
 'Ray Bradbury',
 'Octavia Butler',
 'Usula K Le Guin',
 'Neal Stephenson']

In [4]:
'Octavia Butler'.split()[0]

'Octavia'

In [46]:
dictionary = ['fox', 'boss', 'orange', 'toes', 'fairy', 'cup']
dic = []
def puralize(x):
    for i in x:
        if i.endswith("y") :
            pural = i[:-1] + "ies"
        elif i.endswith("e") or i.endswith("p"):
            pural =i + "s"
        else:
            pural = i + "es"
        dic.append(pural)
    return dic

In [47]:
puralize(dictionary)

['foxes', 'bosses', 'oranges', 'toeses', 'fairies', 'cups']

In [45]:
i = "fox"
if i.endswith("s") or i.endswith("x"):
    pural = i + "es"

In [31]:
pural

'foxes'

In [14]:
dictionary = ['fox', 'boss', 'orange', 'toes', 'fairy', 'cup']
a = []
for i in dictionary:
    a.append(i)
print(a)

['fox', 'boss', 'orange', 'toes', 'fairy', 'cup']

In [13]:
type(a)

NoneType

In [ ]:
i =1
while True:
    if i <10:
        print("Hey! Listen!")
    else:
        break
    i = i+1

In [5]:
i =1
while i <10:
    print("Hey! Listen!")
    if i > 10:
        break
    i = i+1

Hey! Listen!
Hey! Listen!
Hey! Listen!
Hey! Listen!
Hey! Listen!
Hey! Listen!
Hey! Listen!
Hey! Listen!
Hey! Listen!