In [1]:
names = ['关羽', '张飞', '赵云', '马超', '黄忠']
courses = ['语文', '数学', '英语']

In [5]:
scores = [[None] * len(courses)] * len(names)
scores

[[None, None, None],
 [None, None, None],
 [None, None, None],
 [None, None, None],
 [None, None, None]]

In [4]:
scores = [[None] * len(courses) for _ in range(len(names))]
scores

[[None, None, None],
 [None, None, None],
 [None, None, None],
 [None, None, None],
 [None, None, None]]

In [ ]:
items = list(map(int, input().split()))

In [2]:
for i in range(10):
    print("Hey! Listen!")

Hey! Listen!
Hey! Listen!
Hey! Listen!
Hey! Listen!
Hey! Listen!
Hey! Listen!
Hey! Listen!
Hey! Listen!
Hey! Listen!
Hey! Listen!

In [ ]:
items

In [1]:
i =1
while True:
    if i <10:
        print("Hey! Listen!")
    else:
        break
    i  = i +1

Hey! Listen!
Hey! Listen!
Hey! Listen!
Hey! Listen!
Hey! Listen!
Hey! Listen!
Hey! Listen!
Hey! Listen!
Hey! Listen!

In [ ]:
'c'.join('abcabcabc'.split('c'))[:-1]

In [3]:
list(range(1,5))

[1, 2, 3, 4]

In [6]:
list(filter(lambda x: x % 2, range(1, 10)))

[1, 3, 5, 7, 9]

In [30]:
import pandas as pd
import numpy as np

In [16]:
name = pd.DataFrame(data = ['Braund, Mr. Owen Harris',
 'Cumings, Mrs. John Bradley (Florence Briggs Thayer)',
 'Heikkinen, Miss. Laina',
 'Futrelle, Mrs. Jacques Heath (Lily May Peel)',
 'Allen, Mr. William Henry',
 'Moran, Mr. James',
 'McCarthy, Mr. Timothy J',
 'Palsson, Master. Gosta Leonard',
 'Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)',
 'Nasser, Mrs. Nicholas (Adele Achem)'], columns = ['Name'] )

#Take a look at the Data 
name.head()

                                                Name
0                            Braund, Mr. Owen Harris
1  Cumings, Mrs. John Bradley (Florence Briggs Th...
2                             Heikkinen, Miss. Laina
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                           Allen, Mr. William Henry

In [15]:
name['Name'].map(lambda x: x.split(" ")[1].replace(".", ""))

0        Mr
1       Mrs
2      Miss
3       Mrs
4        Mr
5        Mr
6        Mr
7    Master
8       Mrs
9       Mrs
Name: Name, dtype: object

In [32]:
name["Name"].apply(lambda x : set(str(x).split()[1]))

0                {r, ., M}
1             {s, r, ., M}
2             {i, s, ., M}
3             {s, r, ., M}
4                {r, ., M}
5                {r, ., M}
6                {r, ., M}
7    {e, r, a, ., s, M, t}
8             {s, r, ., M}
9             {s, r, ., M}
Name: Name, dtype: object

In [31]:
name["Name"].apply(lambda x: np.mean([len(w) for w in str(x).split()]))

0    5.000000
1    6.428571
2    6.666667
3    5.428571
4    5.250000
5    4.666667
6    5.000000
7    6.750000
8    6.142857
9    6.200000
Name: Name, dtype: float64